<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <title>Log In</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/login.css">

</head>
<body class="align">

<h2>Sign in</h2>
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form action="/register" method="post" th:object="${client}">
      <h1>Sign in</h1>
      <span>or use your account</span>
      <input type="text" th:field="*{telephoneNumber}" placeholder="Phone number">
      <input type="text" th:field="*{name}" placeholder="Name">
      <input type="text" th:field="*{surname}" placeholder="Surname">
      <input type="text" th:field="*{passportData}" placeholder="Passport data">
      <input type="password" th:field="*{password}" placeholder="Password"/>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button onclick="window.location='/login'" class="ghost" id="signUp">Sign In</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>